<!-- Page header -->
<header
  class="page-header bg-img size-lg"
  style="background-image: url(assets/img/bg-banner2.jpg)"
>
  <div class="container" *ngIf="job">
    <div class="header-detail">
      <!-- <img
        class="logo"
        src="{{ job.designBannerUrl }}"
        alt="Логотип компанії"
      /> -->
      <div class="hgroup">
        <h1>{{ job.name }}</h1>
        <h3>
          <a>{{ job.companyName }}</a>
        </h3>
      </div>
      <time datetime="2016-03-03 20:00">{{ job.dateTxt }}</time>
      <hr />
      <!-- <p class="lead">
        You will help Google build next-generation web applications like Gmail,
        Google Docs, Google Analytics, and the Google eBookstore and eBook
        readers. As a Front End Engineer at Google, you will specialize in
        building responsive and elegant web UIs with AJAX and similar
        technologies. You may design or work on frameworks for building scalable
        frontend applications. We are looking for engineers who are passionate
        about and have experience building leading-edge user experience,
        including dynamic consumer experiences.
      </p> -->

      <ul class="details cols-3">
        <li>
          <i class="fa fa-map-marker"></i>
          <span>{{ job.cityName }}</span>
        </li>

        <li>
          <i class="fa fa-briefcase"></i>
          <span>Повний робочий день</span>
        </li>

        <li *ngIf="job.salary">
          <i class="fa fa-money"></i>
          <span>{{ job.salary }} </span>
        </li>

        <li *ngIf="job.contactURL">
          <i class="fa fa-certificate"></i>
          <a href="{{ job.contactURL }}">{{ job.contactURL }}</a>
        </li>

        <li *ngIf="job.contactPhone">
          <i class="fa fa-certificate"></i>
          <span>{{ job.contactPhone }}</span>
        </li>

        <!-- <li>
          <i class="fa fa-flask"></i>
          <span>2+ years experience</span>
        </li> -->

        <li *ngIf="job.metroName">
          <i class="fa fa-certificate"></i>
          <a>Mетро {{ job.metroName }}</a>
        </li>
      </ul>

      <!-- <div class="button-group">
        <ul class="social-icons">
          <li class="title">Share on</li>
          <li>
            <a class="facebook" href="#"><i class="fa fa-facebook"></i></a>
          </li>
          <li>
            <a class="google-plus" href="#"
              ><i class="fa fa-google-plus"></i
            ></a>
          </li>
          <li>
            <a class="twitter" href="#"><i class="fa fa-twitter"></i></a>
          </li>
          <li>
            <a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a>
          </li>
        </ul>

        <div class="action-buttons">
          <a class="btn btn-primary" href="#">Apply with linkedin</a>
          <a class="btn btn-success" href="#">Apply now</a>
        </div>
      </div> -->
    </div>
  </div>
</header>
<!-- END Page header -->

<!-- Main container -->
<main>
  <!-- Job detail -->
  <section *ngIf="job">
    <div class="container" [innerHtml]="job.description"></div>
    <a class="btn btn-primary" routerLink="/">Назад</a>
  </section>

  <!-- END Job detail -->
</main>
