<!-- Main search -->
<div
  class="site-header size-lg text-center"
  style="background-image: url(assets/img/bg-banner1.jpg)"
>
  <div class="container">
    <div class="col-xs-12">
      <br /><br />
      <h2>Ми пропонуємо <mark>безліч</mark> вакарсій роботи!</h2>
      <h5 class="font-alt">Знайти свою мрію прямо зараз</h5>
      <br /><br /><br />
      <form class="header-job-search">
        <div class="input-keyword">
          <input
            #searchBox
            id="search-box"
            (input)="setSearchValue(searchBox.value)"
            type="text"
            class="form-control"
            placeholder="Назва, навики, або компанія"
          />
        </div>

        <div class="input-location">
          <input
            type="text"
            class="form-control"
            placeholder="Місто, область"
          />
        </div>

        <div class="btn-search">
          <button
            class="btn btn-primary"
            type="submit"
            (click)="submitSearch()"
          >
            Знайти вакансії
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
<!-- END Main search -->
<app-recent-jobs *ngIf="isRecent"></app-recent-jobs>
<app-job-list *ngIf="!isRecent"></app-job-list>
