<!-- Main container -->
<section class="no-padding-top bg-alt">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <br />
        <h5>
          We found <strong>357</strong> matches, you're watching <i>10</i> to
          <i>20</i>
        </h5>
      </div>

      <!-- Job item -->
      <div *ngFor="let job of jobs">
        <div class="col-xs-12">
          <a class="item-block" href="job-detail.html">
            <header>
              <div class="hgroup">
                <h4>{{ job.name }}</h4>
                <h5>
                  {{ job.companyName }}
                  <span class="label label-success">Full-time</span>
                </h5>
              </div>
              <time datetime="2016-03-10 20:00">{{ job.dateTxt }}</time>
            </header>

            <div class="item-body">
              <p>
                {{ job.shortDescription }}
              </p>
            </div>

            <footer>
              <ul class="details cols-3">
                <li>
                  <i class="fa fa-map-marker"></i>
                  <span>{{ job.cityName }}</span>
                </li>

                <li>
                  <i *ngIf="job.salary" class="fa fa-money"></i>
                  <span *ngIf="job.salary">{{ job.salary }}₴</span>
                </li>
              </ul>
            </footer>
          </a>
        </div>
      </div>
      <!-- END Job item -->
    </div>

    <!-- Page navigation -->
    <nav class="text-center">
      <ul class="pagination">
        <li>
          <a href="#" aria-label="Previous">
            <i class="ti-angle-left"></i>
          </a>
        </li>
        <li><a href="#">1</a></li>
        <li class="active"><a href="#">2</a></li>
        <li><a href="#">3</a></li>
        <li><a href="#">4</a></li>
        <li>
          <a href="#" aria-label="Next">
            <i class="ti-angle-right"></i>
          </a>
        </li>
      </ul>
    </nav>
    <!-- END Page navigation -->
  </div>
</section>
