<section>
  <div class="container">
    <header class="section-header">
      <span>Нові</span>
      <h2>Нещодавно добавлені</h2>
    </header>

    <div class="row item-blocks-connected">
      <div *ngFor="let job of jobs">
        <div class="col-xs-12">
          <a class="item-block">
            <header>
              <div class="hgroup">
                <h4>{{ job.name }}</h4>
                <h5>
                  {{ job.companyName }}
                  <span class="label label-success">Full-time</span>
                </h5>
              </div>
              <time datetime="2016-03-10 20:00">{{ job.dateTxt }}</time>
            </header>

            <div class="item-body">
              <p>
                {{ job.shortDescription }}
              </p>
            </div>

            <footer>
              <ul class="details cols-3">
                <li>
                  <i class="fa fa-map-marker"></i>
                  <span>{{ job.cityName }}</span>
                </li>

                <li>
                  <i *ngIf="job.salary" class="fa fa-money"></i>
                  <span *ngIf="job.salary">{{ job.salary }}₴</span>
                </li>
              </ul>
            </footer>
          </a>
        </div>
      </div>
      <!-- Job item -->
      <!-- <div class="col-xs-12">
        <a class="item-block" href="job-detail.html">
          <header>
            <img src="assets/img/lvumg.jpg" alt="" />
            <div class="hgroup">
              <h4>Senior поворачувальник кранів і гри в доміно</h4>
              <h5>Диканське ЛВУМГ</h5>
            </div>
            <div class="header-meta">
              <span class="location">Диканька, Полтавська обл</span>
              <span class="label label-success">Повний робочий день</span>
            </div>
          </header>
        </a>
      </div> -->
      <!-- END Job item -->

      <!-- Job item -->
      <!-- <div class="col-xs-12">
        <a class="item-block" href="job-detail.html">
          <header>
            <img src="assets/img/res.jpeg" alt="" />
            <div class="hgroup">
              <h4>Team Lead Лазачів по стовпам і справляючих трансформатори</h4>
              <h5>Диканська філія Полтава ОблЕнерго</h5>
            </div>
            <div class="header-meta">
              <span class="location">Диканька, Полтавська обл</span>
              <span class="label label-success">Повний робочий день</span>
            </div>
          </header>
        </a>
      </div> -->
      <!-- END Job item -->

      <!-- Job item -->
      <!-- <div class="col-xs-12">
        <a class="item-block" href="job-detail.html">
          <header>
            <img src="assets/img/svarka.jpeg" alt="" />
            <div class="hgroup">
              <h4>Middle Зварювальник всяких штук</h4>
              <h5>Диканська фірма Варись Варись і більше не дерись</h5>
            </div>
            <div class="header-meta">
              <span class="location">Диканька, Полтавська обл</span>
              <span class="label label-success">Повний робочий день</span>
            </div>
          </header>
        </a>
      </div> -->
      <!-- END Job item -->
    </div>

    <br /><br />
    <p class="text-center">
      <a class="btn btn-info" routerLink="/job-list">Відкрити всі вакансії</a>
    </p>
  </div>
</section>
