<section>
  <div class="container">
    <header class="section-header">
      <span>Нові</span>
      <h2>Нещодавно добавлені</h2>
    </header>

    <div class="row item-blocks-connected">
      <div *ngFor="let job of jobsService.jobs">
        <div class="col-xs-12">
          <a class="item-block" routerLink="/job-details/{{ job.id }}">
            <header>
              <div class="hgroup">
                <h4>{{ job.name }}</h4>
                <h5>
                  {{ job.companyName }}
                  <span class="label label-success">Full-time</span>
                </h5>
              </div>
              <time datetime="2016-03-10 20:00">{{ job.dateTxt }}</time>
            </header>

            <div class="item-body">
              <p>
                {{ job.shortDescription }}
              </p>
            </div>

            <footer>
              <ul class="details cols-3">
                <li>
                  <i class="fa fa-map-marker"></i>
                  <span>{{ job.cityName }}</span>
                </li>

                <li>
                  <i *ngIf="job.salary" class="fa fa-money"></i>
                  <span *ngIf="job.salary">{{ job.salary }}₴</span>
                </li>
              </ul>
            </footer>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
